* {
  box-sizing:border-box;
}

body {
  margin : 0;
  padding: 0;
  
} 

.wrapper {
  display: flex;

  flex-direction: column;
  height: 100vh;
  
}

.header {
  display: flex;
  
  
  background: lightblue;
  
}

.header__logo {
  padding: 10px;
}

.header__logo , .header__links {
  margin: 0 auto;
  
}

.header__links {
  display: flex;
  }

  .header__links li {
     
  }
  .header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

.breaking_news {
  flex :1;
  background: lightcoral;
} 

h3 {
  margin:10px;
  padding: 5px;
}

.article {
  border: 1px black solid;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
}

.article__image {
  display: none;


}
.sideBar {
  flex: 1;
  

  background: lightgreen;
  
}

.main-footer {
  flex: 1;
  background: lightsalmon;
}

li {
  list-style: none;
}

@media screen and (min-width: 375px) {
  .article__image {
    display: flex;
  }
}