@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
    font-family: 'Caveat', cursive;
}

.container {
    min-width: 100vw;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    background-color: red;
    color: #0026F7;
}

.mainNavigation {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 2rem;
    grid-gap: 55px;
    padding-left: 5px;
    padding-right: 5px;
}

.mainNavigation li:first-child {
    /*background-color: #00FF00;*/
}

.mainNavigation a {
    text-decoration: none;
}

.mainNavigation li {
    display: grid;
    align-items: center;
    justify-content: center;
}

.mainNavigation li:hover {
    background: rgba(242, 199, 7, 0.9);
}

.main {
    margin: 0 auto;
    text-align: center;
    border: 5px solid red;
    font-size: 1.5em;
}

.main__articleNews {
    display: grid;
    grid-template-areas: 'title' 'description' 'image' 'published' 'source';
    grid-template-rows: auto auto 0 auto auto;
    background-color: lightyellow;
}

.main__articleNews__title {
    grid-area: title;
    font-size: 1.5em;
    font-weight: bolder;
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__articleNews__description {
    grid-area: description;
    border: 5px solid black;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__articleNews__content {
    grid-area: content;
    border: 5px solid firebrick;
}

.main__articleNews__image {
    grid-area: image;
}

.main__articleNews__published {
    grid-area: published;
    border: 5px solid blueviolet;
}

.main__articleNews__source {
    grid-area: source;
    border: 5px solid lightslategray;
}

@media (min-width: 768px) {
    .container {
    }

    .main {
    }

    .main__articleNews {
        display: grid;
        min-height: min-content;
        grid-template-areas:
                'image title'
                'image description'
                'image published'
                'image source';
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 40% auto ;
        background-color: lightyellow;
    }

    .main__articleNews__title {
        grid-area: title;
    }

    .main__articleNews__description {
        grid-area: description;
    }

    .main__articleNews__image {
        grid-area: image;
        width: auto;
        height: 370px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main__articleNews__published {
        grid-area: published;
    }

    .main__articleNews__source {
        grid-area: source;
    }

}


