* {
  box-sizing:border-box;
}

body {
  margin : 0;
  padding: 0;
  background : lightgray;
} 

.wrapper {
  display: flex;

  flex-direction: column;
  height: 100vh;
  
}

.header {
  text-align: center;
  background: url('http://i1146.photobucket.com/albums/o539/sanchezmartinezjosecarlos/fondos-hd-de-paredes-Fondosdepantalla.top-3-360x200_zpsnsenqjax.jpg')
  padding:30px;
  
  
}

.header__logo, .header__search {
    align-items: center;
}

input {
  border:1px solid lightgrey;
  margin-bottom: 10px;
}

.breaking_news {
  flex :1;

  
  padding: 1%;
} 

h3 {
  margin:10px;
  padding: 5px;
}

.article {
  
  background: #f7f4f4;
  margin: 10px;
  padding: 5%;
  border-radius: 4px;
}

.article:nth-child(odd) {
background-color: #f9f7f7;
box-shadow: 1px 1px 2px;


}

.article__title {
  font-size:x-large;
  text-decoration: underline black;
  margin-bottom: 10px;
}



.article__description {
  font-size: medium;
  margin-bottom: 10px;

}

.article__publication {
  font-size : small;
  margin-bottom: 10px;
  
}

.article__image {
  display: none;
}

.article__image > img {
  width: 100%;
}
.sideBar {
  display: none;
  
  background: lightgreen;
}

.main-footer {
  flex: 1;
  background: lightsalmon;
}

@media screen and (min-width: 320px) {
  .article__image {
    display: block;
  }
}

