* {
  box-sizing: inherit;
}

body {
  display: flex;
  box-sizing: border-box;
  margin: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  padding-top: 5%;
}


.header{
  font-size: 2.5vh;
}


input[type=text]{
  font-size: 16px;
  border-color: #e7e7e7;
  border-radius: 22px;
  border-style: solid;
  padding: 12px;
  width: 70%;
}

input[type=submit]{
  font-size: 16px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 20px;
  padding: 12px;
  border-color: #e7e7e7;
  width: 25%;
}

h2{
  font-size: 2.5vh;
}
.articleList{
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom:40px;

}

li{
  padding: 0;
  padding-bottom: 8px;
}
.title{
  font-size: 2.5vh;
}
.description{
  font-size: 2.3vh;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

@media(max-width:768px){
  img{
    display: none;
  }
}
