body {
    font-family: "PT Sans", sans-serif;
    background-color: #FDFDFD;
    margin: 0;`
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

a:hover {
    color: maroon;
    text-decoration: underline;
}

.app{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    margin-left: 10px;
    margin-right: 10px;

}

.header {
    border-bottom: 5px solid maroon;
    color: maroon; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    min-width: 100vw;
}

.logo {
    height: 30%;
    width: 30%;
}

.content {
    min-width: 90vw;
}

.article_box {
    background-color: #006989;
    border: 1px solid black;
    margin-top: 10px;
}

.article_title {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: solid 2px maroon;
    background-color: #01A7C2;
    font-size: 2em;
    font-weight: 800;
}

.image_container {
    display: block;
}

.article_image {
    display: none;
}

.article_content {
    background-color: #01A7C2;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
    padding-left: 3px;
}

.article_author_source_list {
    padding-left: 5px;
    color: white;
}

.article_link {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.load_more_button {
    background-color: #006989;
    color: white;
    font-size: 16px;
    height: 40px;
    transition: 0.2s;
}

.load_more_button:hover {
    text-decoration: underline;
    color: maroon;
}

.footer {
    border-top: 5px solid maroon;
    margin-top: 10px;
    color: maroon;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}


@media (min-width: 768px) {

    .app {
        max-width: 90vw;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-evenly;
    }

    .header {
        min-width: 100vw;
        font-size: 2em;
    }

    .article_box {
        margin-left: 5px;
        margin-right: 5px;
        width: 45%;
        height: 100%;
    }

    .article_title {
        font-size: 2em;
    }

    .image_container {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .article_image {
        display: flex; 
        border: 2px solid black;
        height: 97%;
        width: 97%;
    }

    .load_more_button{
        font-size: 26px;
    }
}

@media (min-width: 960px) {

}