* {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    box-sizing: border-box;
    background: rgb(232, 226, 217);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

h1 {
    margin: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.news-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
// HEADER ////////////////////////////
*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 182, 57);
    padding: 1em;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* .header__nav__input {
    width: 100%;
} */

/* .header__nav__sections {
    background-color: #999999;
} */

.header__nav__sections a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 0.4em 0 0.4em;
    opacity:0.6;
    background-color: #999999;
}

.header__nav__sections a:hover {
    background-color: #666666;
    opacity: 1;
}

input[type=text] {
    padding: 0.5em;
    margin: 1em 0;
    width: 12em;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(255, 212, 139);
    font-size: 0.9em;
}

input[type=text]:focus {
    border: 2px solid #555;   
    background-color: white;
}

.header__nav__button {
    text-decoration: none;
    padding: 0 0 0.7em 0;
    border: 0.4em;
    font-size: 1.5em;
    vertical-align: middle;
}

.header__nav__button a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 0.4em 0 0.4em;
    border: 1em;
    opacity: 0.7;
}

.header__nav__button a:hover {
    /* background-color: #666666; */
    opacity: 1;
}

/* ///////////////
// MAIN CONTENT //
////////////////*/

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content__nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    background-color: rgb(255, 212, 139);
    padding: 1em
}

.content__nav li {
    padding: 0 0.5em;
}

.content__body {
    flex: 8;
    text-align: left;
    padding: 1em;
}

.content__aside {
    display: none;
    flex: 4;
    text-align: center;
}

.content__footer {
    flex: 1;
    text-align: center;
}

.key {
    font-weight: 700;
}

.description-text {
    font-weight: 100;
}

.highlighted {
    background-color:rgb(255, 234, 141);
    font-weight: bold;
    padding: 0.1em;
}

.article__list {
    list-style: none;
    padding: 0;
}

.article__main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.article__main li {
    padding: 0.3em 0;
}

.article__main li a {
    background-color: #ff9900;
    color: white;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    padding: 0.3em 0.6em;
}

.article__main li a:hover {
    background-color: #ffc062;
    color: rgb(120, 46, 0);
}

.article__header {
    display: block;
    font-size: 1.2rem;
    background: rgb(245, 244, 241);
    color: black;
    padding: 1rem 1rem;
    margin: 1rem 0 0 0;
    border-top: 3px solid rgb(235, 223, 204);
}

.article__header a {
    color: black;
    text-decoration: none;
}

.article__header a:hover {
    color: #ff9900;
    text-decoration: underline;
}

.article__image {
  display: none;
  /* flex: 1;
  min-width: 150px;
  background: #e0e0e0;
  padding: 0; */
}

.article__image__src {
  /* width: 100%;
  border: 0; */
}

.article__text {
  font-size: 1rem;
  background: #ffffff;
  color: black;
  padding: 1rem;
  display: flex;
  flex: 3;
}

.article__text ul {
    padding: 0 0 0 0;
    margin: 0;
}

.article__text ul li {
    list-style: none;
}

a.article__text ul li {
    text-decoration: none;
}

.display__url {
    padding: 0 0 1em 0;
}

@media (min-width: 768px) {

    .article__image {
      min-width: 150px;
      display: flex;
      flex: 1;
      background: #e0e0e0;
      padding: 0;
    }
    
    .article__image__src {
      width: 100%;
      border: 0;
    }

    input[type=text] {
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 20em;
    }
    }