* {
  box-sizing: border-box;
  
}

body{
   
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
  justify-content: center;
  font-family: 'Encode Sans', sans-serif;
  background: white;
  color:black;
  max-width: 1500px;
  margin: 0;
  

    }

ul{ 
  list-style-type: none;
  
 }



h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.searchClass{

  display: flex;
  flex:1;
  justify-content: center;
}

.infoG{
    display:none;
}

 

  #headline {
    display:flex;
    flex: 1;
    position: relative; 
    margin-right: 7vw;
    
    
    
  }

  #headline h2 {
  position: absolute; 
   bottom: 0;  
   /* width: 93.5%; */
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 2vw;
   color: white; 
   max-width: 1000px;
  }

  #headline img{
  width:100%;
  max-width: 1000px;
  max-height: 500px;
  /* object-fit: cover; */
  /* position: relative; */
  
  }


  .buttons{
    display:flex;
    flex: 1;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;

  }


  .all-button{
    display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin: 0;
      text-decoration: none;
      background: #0069ed;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out, 
                  transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
  
  .all-button:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
  }
  

.graphic {
  display:none;
  border-left:black;
  border-left-width: 3px;
}

.hero {
  display:flex;
  flex: 1;
  
  
}

#newz {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-right: 7vw;

}

#newz h2 {
background-color: antiquewhite;
top: 0;
position: float;  
}



#newz img {

  width:100%;
  object-fit: cover;
  height: 50vw;
  background-image: url("https://chrisphillers.000webhostapp.com/placeholder1.jpg")
  /* -webkit-box-shadow: -34px 53px 196px -30px rgba(0,0,0,0.49);
  -moz-box-shadow: -34px 53px 196px -30px rgba(0,0,0,0.49);
  box-shadow: -34px 53px 196px -30px rgba(0,0,0,0.49); */
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .hero {

    
  }

  #headline {
    display:flex;
    flex: 1;
    
   
  }

  #headline img{
    width:90vw;
    object-fit: cover;
    position: relative;
    
    }

  /* #newz {
  width: 400px;
    
  }

  #newz ul {
    display:flex;
  flex: 1;
  flex-wrap: wrap;
  }

  #newz img{

    height: 250px;

  } */

  #newz {
    display: flex;
  flex-flow: row wrap; 
}

#newz li {
  flex-grow: 1;
  width:300px;
  
  margin: 0.2vw;
  padding: 2vw;
  
  
}
#newz img {
 
  height: 15vw;
  background-color:lightblue;
  
}


.buttons{
  margin-left: 30px;
  margin-right: 50px;
  
   

}





}

/* Large devices (desktops, 960px and up) */
@media (min-width: 960px) {

  .heading {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: red;
  
  
  }
  
  header h1 {
    background-color: blue;
  }
  
  .searchClass {
    background-color: yellow;
  }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



  .hero {
  display:flex;
  flex-direction: row;
  
}

#headline {
  display:flex;
  flex: 1;
  /* flex-basis: 70%; */
} 

#headline h2 {
  display:flex;
  flex: 1;
  width:65vw;
  /* flex-basis: 70%; */
} 





#headline img{
  width:65vw;
  height: 30vw;
  object-fit: cover;
  position: relative;
  
}

  .buttons{
    margin-left: 0px;
    margin-right: 50px;

  }



.infoG {
  display:flex;
  
  flex: 1;
  flex-basis: 30%;
  justify-content: flex-start;
  flex-direction: column;
  
    
}

#newz {


}

 .graphic {
    display:flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    

    /* border-left-width: 30px;
    border-left-color: black;
    margin: 20px;
    width: 100% */
    
    
    
  }


  .graphic ul {
    display:flex;
    flex: 1;
  
    
  } 

  #one {
    display:flex;
   
   
    height: 10px;
    background-color: red;
    width: 100px;
    margin-bottom:10px;
    
    
  }
  
  #two{
    display:flex;
    
   
    height: 10px;
    background-color: yellow;
    width: 30px;
    margin-bottom:10px;
    
  }

  #three {
    display:flex;
   
    
    height: 10px;
    background-color: red;
    width: 30px;
    margin-bottom:10px;
    
  }



}

