
/* .image-span{
    color: red;
} */
body {
    text-align: center;
}


.top-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}


img{
    width: 40vh;
    height: 30vh;
}

ul {
    list-style-type: none;
}

.arrows{
   width: 20px;
   height: 18px;
   border-color: #000;
   position: absolute;
   top: 70%;
   
}

.prev{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 10px;
   margin-left: 70px;
}

.next{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 5vh;
   margin-right: 10px;
}