/* font-family: 'Source Sans Pro', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f1f1f1;
  --secondary-color: #fdb813;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */

.app__header {
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.app__header-logo {
  font-size: 22px;
  /* flex: 1; */
}

.app__header-nav {
  display: flex;
  justify-content: center;

  text-align: center;
  list-style-type: none;
}

.app__header-nav--active {
  text-decoration: underline;
}

.app__header-nav li {
  margin-right: 15px;
}

.app__header-nav li a {
  text-decoration: none;
  color: #fff;
}

.app__header-nav li a:hover {
  opacity: 0.7;
}

@media (min-width: 640px) {
  .app__header {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .app__header-logo {
    font-size: 36px;
  }
}

/* CONTENT */

.app__main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__content-nav {
  /* background-color: LemonChiffon; */
  display: block;
}

.app__content-body {
  flex: 3;

  /* background-color: PapayaWhip; */
}

.app__content-sidebar {
  display: none;
}

@media (min-width: 640px) {
  .app__main-content {
    flex-direction: row;
  }
  .app__content-nav {
    flex: 1;
    /* background-color: LemonChiffon; */
  }
}

@media (min-width: 960px) {
  .app__main-content {
    flex-direction: row;
  }
  .app__content-sidebar {
    display: flex;
    flex: 2;

    /* background-color: Khaki; */
  }
}

/* ARTICLES */
.article {
  padding: 15px 10px;
}
.article:nth-child(odd) {
  background-color: #f1f1f1;
}
.article__link {
  text-decoration: none;
  color: #000;
}
.article__link:hover {
  opacity: 0.7;
}

.article__title {
  font-weight: bold;
}

.article__image {
  display: none;
  height: 170px;
  background-size: 100%;
  background-position: center;
}

.article__author {
  font-size: 14px;
  margin-right: 20px;
}

.article__date {
  font-size: 14px;
  text-align: right;
  width: 100%;
  display: block;
}

.article__description:before {
  content: "-";
}
.article__description:after {
  content: "..";
}

@media (min-width: 640px) {
  .article__image {
    display: block !important;
  }

  .show-images {
    display: none;
  }
}

/* FOOTER */

.app__footer {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.app__footer-notes,
.app__footer-address,
.app__footer-map {
  flex: 1;

  padding: 7px;
}

.app__footer-notes {
  background-color: NavajoWhite;
}
.app__footer-address {
  background-color: Peru;
}
.app__footer-map {
  background-color: Chocolate;
}

@media (min-width: 640px) {
  .app__footer-notes,
  .app__footer-address,
  .app__footer-map {
    flex: 1;

    padding: 20px;
  }
}
