body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  background-color: blue;
  height: 100px;
}


.content{
  background-color: grey;
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}



.story-div-element{
  background-color: white;
  margin: 1em;
  border: black 1px solid;
  padding: 0.5em;
}

.story-image{
  display: none;
}
